<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @model Wedding
    <p class = "one-line"><a href="/dashboard">Dashboard</a> | <a href="/logout">LogOut</a></p>
    <h2 class="one-line">@Model.Wedder_One and @Model.Wedder_Two Wedding</h2>
    <p> Date: @Model.WeddingDate.ToString("MMM dd, yyyy")</p>
    <p>Guests:</p>

    
</body>
</html>